body{
    padding:50px;
     min-height: 800px;
}
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login{
    display: flex;
    justify-content: flex-end;
}

#titulo{
    text-align: center;
    height: 60px;
}
.box{
    display: flex;
    flex-direction: column;
    
}

.button a{
    background: #043D81;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #FFF;
    
}

.calculos{
    display: flex;
    justify-content: space-between;
    
}
.calculos label, .calculos span{
    font-size: 16px;
}
.calculos span{
    font-weight: bold;
}
.calculo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid;
    padding-top: 20px;
    padding-bottom: 20px;
}
.calculo label{
    width: 250px;
    font-size: 18px;
    padding-bottom: 20px;
}
.calculo input{
    font-size: 18px;
    border: 0;
    border-bottom: 1px solid;
}
.total,
.total45,
.total5,
.total55,
.total6{
    background: #eee;
    min-width: 230px;
    min-height: 200px;
}
.total h3,
.total45 h3,
.total5 h3,
.total55 h3,
.total6 h3{
    text-align: center;
    padding-top: -15px;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #000;
    background: transparent;
}
.parcelas{
    margin-top: 10px;
    background: #ebcccc;
}
/*Iniciando CSS Footer*/

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer img {
    max-width: 50px;
    margin: 15px;
}
@media (max-width:600px){
    .home h1 {
        text-align: center;
    }
    .home img {
        max-width: 280px;
    }
    .footer {
        justify-content: space-between;
    }
    .footer img{
        margin:0;
    }
    .calculos{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}